--------Web-Application--------
<<<<<<<<เว็ปให้ข้อมูลเกี่ยวกับICO or เว็ปขายเสื้อผ้า>>>>>>>>>
-------Function-Requirement-------
1.Search หาข้อมูลได้
2.สามารถแชร์ลงไปใน Social networkได้
3.มีตะกร้าในการใส่สินค้า
4.สามารถเปลี่ยนภาษาได้
5.login and logout
6.จ่ายเงินผ่านบัตรเครดิต
7.มีTag name ในการหาข้อมูลได้ง่ายขึ้น
-------NonFunctional-Requirement-------
1.ระบบควรตอบสนองกับ User ภายในไม่เกิน2วินาทีในการ submit และ request (Usability Requirement)
2.ระบบจะไม่เปิดเผยข้อมูลของUserและไม่มีใครสามารถเห็น username,password,credit number ของUserได้(Privacy Requirement)
3.ระบบสามารถให้User เปลี่ยนข้อมูลได้ (Usability)
