--------Web-Application--------
-------Function-Requirement-------
1.login and logout
2.บันทึกได้
3.มีการแจ้งเตือนเมื่อใกล้ถึงเวลาที่กำหนด
4.สามารถ Search ได้
5.แก้ไขข้อมูลได้
6.ลบข้อมูลได้
*************7.สามารถฟังเพลงใน WebApplication ได้
-------NonFunctional-Requirement-------
1.ระบบควรตอบสนองกับ User ภายในไม่เกิน2วินาทีในการ submit และ request (Efficiency Requirement)
2.ระบบจะสามารถบันทึกข้อมูล ได้ภายใน 3 คลิ๊ก(Usablilty Requirement)
3.ระบบจะต้องไม่ล่ม eg.Error500 (reliability Requirement)
